{% extends 'base.html' %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-4@m">
    <h3 class="uk-card-title">Tile</h3>
    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni eveniet exercitationem officia nulla optio corrupti, quam repellat ipsam reprehenderit voluptates corporis soluta laborum voluptatibus provident assumenda expedita iusto molestiae molestias? </p>
    <p>price</p>
    <button class="uk-button uk-button-default"></button>
</div>
{% endblock %}